In [9]:
name ="john"
age =23
print(type(age))

<class 'int'>

In [10]:
a = 123
b = 1.23
print(type(a))
print(type(b))
c= a+b
print(c)
print(type(c))

<class 'int'>
<class 'float'>
124.23
<class 'float'>

convert string into integer

In [11]:
a ="123.23"
b = 23
c =a+b 
print(c)

TypeError: can only concatenate str (not "int") to str

so now we convert string first into integer then we perform the task

In [ ]:
a ="123"
b= 23
a = int(a)
print(type(a))
c = a+b
print(c)

<class 'int'>
146

In [ ]:
a ="123.33"
b =23
a =float(a)
c=a+b
print(c)

146.32999999999998

problems solving

write a program to display a person's name , age and address in three diffen-rent lines?

In [ ]:



print("akhil verma\n 23 \n surwari")

akhil verma
 23
 surwari

write a program to swap two variables

In [ ]:
#method1 
x = 12
y = 14
temp = x
print(temp)
x = y
print(x)
y =temp
print(y)
print("value of x is ", x)
print("value of y is ",y)

12
14
12
value of x is  14
value of y is  12

In [ ]:
#method2
a = 12
b = 14
a,b = b,a
print(a)
print(b)

14
12

write a program to convert float into integer

In [ ]:
a = 12.23
b = 13
print(type(a))
a = float(a)
c = a+b
print(c)

<class 'float'>
25.23

write a program to take a detials from student for id card and then print it in different lines

In [ ]:
x = str(input("name"))
y = int(input("age"))
z = int(input("roll no."))
print("name:" ,x)
print("age:", y)
print("roll no.:" ,z)

name: akhil verma
age: 23
roll no.: 2001220310008

write a program to take an user input as integer then convert it to float?

In [ ]:
a = int(input("give a input as integer"))
a = float(a)
print(a)

2.0

power

In [ ]:
print(4**2)

16

modulas

In [ ]:
print(8%3)

2

float division

In [ ]:
print(8//3)

2

comparision

In [ ]:
print(3>6)
print(3==6)
print(3!=3)
print(3>=4)

False
False
False
False

logical operators
and : if both true then it is true
or : if anyone true then it is true
not : truw if operand is false

In [ ]:
a = 3 
b = 2 
c = 7
print(a>b and b>c)
print(a>b or b>c)
print(not(a>b and b>c))

False
True
True

integer operators

In [ ]:
a = 1234
b ="1234"
print(a is b)
print(a is not b)

False
True

bitwise

In [ ]:
print(bin(10))

0b1010

In [ ]:
a = 10
b = 8
print(a & b )
#  a and b

8

In [ ]:
a = 10
b = 8
print(a | b)
# a or b
print(a ^ b)
#a xor b

10
2

In [ ]:
print(10>>1)
# zero fill left shift 
print(10<<2)
# zero fill right side

5
40

memebership operator

In [ ]:
a = "hello"
print("p" in a)
print("e" in a)
print("o" not in a)

False
True
False

conditional statement

In [ ]:
# if  the statement
marks =int(input("enter your marks for eligibility"))
if marks>=90:
    print('Congratulations ! you are eligible for mobile phone.')
#if marks<=90:
else:
    print('sorry!')

sorry!

In [ ]:
# if -elif -else statement
marks=int(input("enter your makrs please"))
if marks >=90:
       print("you go to a trip")
elif marks >=80 and marks<90:
       print("you get a mobile phone")
elif marks>=70 and marks<80:
       print("you will get a new pen")
else:
       print("you are going to punish")

you are going to punish

nested if statement

In [ ]:
marks =int(input("enter your marks1"))
marks =int(input("enter your marks2"))
if marks>=90:
    print("you get laptop")
    if marks>=95:
        print("you will get laptop along mobile")
else:
    print("you will get punsihment")

you get laptop
you will get laptop along mobile

short hand if statement

In [ ]:
marks=int(input("type a number"))

print("you get a new phone") if marks>=90 else print("you get punished")

you get punished

problem solvings

1 - write a progra to chech if a number is positive

In [ ]:
num=int(input("enter a number"))
if num >0:
    print("number is positive")
else:
    print("number is negative")

number is positive

2 - write a program to chech whether a number is odd or even

In [ ]:
num =int(input("enter a number "))
if num%2==0:
        print("number is even")
else:
    print("number is odd")

number is even

3 - write a program to create a area calculator

In [ ]:

print("******AREA CALCULATOR******")
print("""press 1 to get the area of square
press 2 to get the area of rectangle
press 3 to get area of circle
press 4 to get area of triangle""")

choice = int(input("Enter your choice (1/2/3/4): "))  # Taking user input for choice

if choice == 1:
    side = float(input("Enter the length of one side: "))
    area = side**2
    print("The area of square is", area)
elif choice == 2:
    length = float(input("Enter the length of rectangle: "))
    width = float(input("Enter the width of the rectangle: "))
    area = length * width
    print("The area of rectangle is", area)
elif choice == 3:
    radius = float(input("Enter the radius of circle: "))
    area = 3.14 * (radius ** 2)  # Using 3.14 for pi approximation
    print("The area of the circle is", area)
elif choice == 4:
    base = float(input("Enter the base of the triangle: "))
    height = float(input("Enter the height of the triangle: "))
    area = 0.5 * base * height
    print("The area of the triangle is", area)
else:
    print("Invalid input")

******AREA CALCULATOR******
press 1 to get the area of square
press 2 to get the area of rectangle
press 3 to get area of circle
press 4 to get area of triangle
The area of rectangle is 20.0

4 - write a program check whether the passed letter is a vowel or not?

In [12]:
letter = str(input("type a letter"))
if (letter in "aeiou") or (letter in "AEIOU"):
    print("it's a vowel")
    
else:
    print("it's a not vowel")

it's a not vowel

5 - Write a program to check if a number is a single digit number , #2-digit number and so on ...... , up to 5 digits?

In [ ]:
num =int(input("enter a number upto 5 digit"))
if 9>=num>=0:
    print("it's a single digit number")
elif 99>=num>=10:
        print("it's a two digit number")
elif 999>=num>=100:
         print("it's a three digit number")
elif 9999>=num>=1000:
           print("it's a four digit number")
elif 99999>=num>=10000:
              print("it's a five digit number")
else:
   print("invalid number")

invalid number