for loop

In [1]:
for i in range (1,6):
    print(i)

1
2
3
4
5

In [2]:
for i in range(1,6):
    print("akhil is a good boy")

akhil is a good boy
akhil is a good boy
akhil is a good boy
akhil is a good boy
akhil is a good boy

so here i is a container which contains value of 1 to 6 and we can using print that in loop

In [3]:
for i in  range (2,8,2):
    print(i)

2
4
6

write a table of 7 and write whole procedure

In [7]:
n = int(input("enter a number what you want see a table"))
for i in range(1,51,2):
    print(n,"x",i,"=",n*i)

4 x 1 = 4
4 x 3 = 12
4 x 5 = 20
4 x 7 = 28
4 x 9 = 36
4 x 11 = 44
4 x 13 = 52
4 x 15 = 60
4 x 17 = 68
4 x 19 = 76
4 x 21 = 84
4 x 23 = 92
4 x 25 = 100
4 x 27 = 108
4 x 29 = 116
4 x 31 = 124
4 x 33 = 132
4 x 35 = 140
4 x 37 = 148
4 x 39 = 156
4 x 41 = 164
4 x 43 = 172
4 x 45 = 180
4 x 47 = 188
4 x 49 = 196

while loop

In [9]:
n=0
while n<=5:
    print(n)
    n+=1 #or n=+1

0
1
2
3
4
5

In [12]:
n=1
a=7
while n<=10:
    print(a,"x",n,"=",n*a )
    n+=1

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

while true

In [2]:
while True:
    num1=int(input('enter a number'))
    num2=int(input("enter a number"))
    print(num1+num2)
    repeat=input('do you want to stop it')
    if repeat=="yes":
        break

9

In [3]:
while True:
    num1=int(input("enter a number"))
    num2=int(input("enter a number"))
    print(num1+num2)
    repeat=input("do you want to stop it")
    if repeat=="yes":
        break

5
7

nested loop

In [7]:
for i in range(1,4):
    for j in range(1,11):
        print(j, end ="")
    print()

12345678910
12345678910
12345678910

In [12]:
for i in range(1,6):
    for j in range(1,i+1):
        print(j ,end="")
    print()

1
12
123
1234
12345

for loop with conditional statement

In [13]:
for i in range(1,11):
    if i==3:
        print("my favourite song")
    else:
        print(i)

1
2
my favourite song
4
5
6
7
8
9
10

In [14]:
for i in range(1,101):
    if i%8==0 and i%12==0:
        print(i)

24
48
72
96

In [15]:
n = 1
while n<=10:
    if n==3:
        print("this is my favourite song")
    else:
        print(n)
    n+=1

1
2
this is my favourite song
4
5
6
7
8
9
10

# continue statement:  
continue statement is used when you want to skip a particular condition.  
# break statement:  
break statement is used when you want to destroy a loop at a certain condtion and come out of the loop.

In [1]:
for i in range (1,11):
    if i ==5:
        continue
    else:
        print(i)

1
2
3
4
6
7
8
9
10

In [3]:
for i in range (1,11):
    if i ==7:
        break
    else:
        print(i)
print("thank you")

1
2
3
4
5
6
thank you

# problem solving:

write a program the sum of all even numbers upto 50 ?

In [14]:
sum =0
for i in range(1,51):
    if i %2 ==0:
     sum+= i
print("the sum of all even numbers upto 50 is = ",sum)

the sum of all even numbers upto 50 is =  650

write a program to write first 20 numbers and their squared numbers?

In [21]:
for i in range(1,21):
    #if i==0:
      print(i,"x",i,"=",i**2)

1 x 1 = 1
2 x 2 = 4
3 x 3 = 9
4 x 4 = 16
5 x 5 = 25
6 x 6 = 36
7 x 7 = 49
8 x 8 = 64
9 x 9 = 81
10 x 10 = 100
11 x 11 = 121
12 x 12 = 144
13 x 13 = 169
14 x 14 = 196
15 x 15 = 225
16 x 16 = 256
17 x 17 = 289
18 x 18 = 324
19 x 19 = 361
20 x 20 = 400

write a program to find sum of first 10 odd numbers using while loop?

In [32]:
sum =0
n = 0
while n <=20:
    if n%2 !=0:
      sum=+n
    n+=1
print("sum of first 10 odd numbers =",sum)

sum of first 10 odd numbers = 19

write a program to check if a number is divisble by 8 and 12 up to 100 numbers?

In [33]:
for i in range (1,101):
    if i % 8 ==0 and i %12 ==0:
        print(i)

24
48
72
96

write a program to create a billing system at supermarket ?

In [39]:
while True:
    name = input("enter customer's name:")
    total =0

    while True:
       
        product = input("enter product name:")
        amount = float(input("enter the product amount:"))
        quantity = float(input("enter quantity:"))
        total += amount * quantity
        repeat = input("do you want to add more items? (yes/no):")
        if repeat == "no" or repeat =="No":
            break
    print("-"*40)
    print("Name:",name)
    print("product name:",product)
    print("Amount to be paid=",total ,"Rs")
    print("-"*40)
    print("*******HAPPY SHOPPING*******")
    repeat1 =input("do you want to go to next customer? (yes/no):")
    if repeat1=="no" or repeat1=="NO":
        break

----------------------------------------
Name: akhil verma
product name: rice
Amount to be paid= 271.0 Rs
----------------------------------------
*******HAPPY SHOPPING*******
----------------------------------------
Name: nikhil verma
product name: bat
Amount to be paid= 68.0 Rs
----------------------------------------
*******HAPPY SHOPPING*******

In [40]:
import pandas as pd 
data ={"name":["john","peter","lisa"],
       "age":[34,43,56],
       "salary":[45,67,54]}
df = pd.DataFrame(data)
print(df)

    name  age  salary
0   john   34      45
1  peter   43      67
2   lisa   56      54